In [ ]:
# Add the Pandas dependency.
import Pandas as pd
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

In [ ]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [ ]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

# Add the list to a new DataFrame.
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]
type_of_school = ["District", "District", "Charter", "District","Charter"]

schools_df["School ID"] = school_id
schools_df["school_name"]=school_name
schools_df["type_of_school"]=type_of_school

# Print the DataFrame.
schools_df

In [3]:
import pandas as pd
#school_df = pd.DataFrame()

# school_id = [0, 1, 2, 3, 4]
# school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School"]
# type_of_school = ["District", "District", "Charter", "District","Charter"]
# # Create a dictionary of information on high schools.
# high_schools_dict={}
# high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
# school_df=pd.DataFrame(high_schools_dict)
# school_df

# list_df=pd.DataFrame()
# i = 1
# for i in (school_df.columns)[1]:
#     print (i)

school_id = []
school_name = []
type = []

school_df = pd.DataFrame()
school_df['School ID'] = school_id
school_df['School Name'] = school_name
school_df['School Type'] = type
school_df

Empty DataFrame
Columns: [School ID, School Name, School Type]
Index: []